* @nikbrunner

/pkg/config/                       @nikbrunner @seflue
/pkg/git/                          @nikbrunner @seflue
/docs/Config.md                    @nikbrunner @seflue
/pkg/tui/custom_commands*.go       @nikbrunner @seflue
/pkg/tui/views/infopanel*.go       @nikbrunner @seflue
